<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('home')}}">
        <div class="sidebar-brand-icon">
           <img src="{{url_for('static',filename='img/logo/otakime-logo-web.png')}}"/>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('adminPostManga')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Post manga</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('adminUpdateChapter')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Update manga</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('adminDeleteManga')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Delete manga</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('adminDeleteChapter')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Delete manga chapter</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('adminEmailHire')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Email Hire</span></a>
    </li>
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>