{% extends 'manga/base.html'%}

{% block main %} 
    <div class="container">
        <div class = "d-flex align-items-center justify-content-center" style="height: 40em;">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Không tìm thấy trang truyện này.</p>
                <p class="lead">
                    Xin lỗi, trang truyện này hiện tại không tồn tại!
                  </p>
                <a href="{{url_for('manga')}}" ><button class="btn btn-dark">Manga</button></a>
            </div>
        </div>
        </div>
    </div>

{% endblock %}