{% extends 'manga/base.html'%}

{% block main%}
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="sonar-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Grids -->
    <div class="grids d-flex justify-content-between">
        <div class="grid1"></div>
        <div class="grid2"></div>
        <div class="grid3"></div>
        <div class="grid4"></div>
        <div class="grid5"></div>
        <div class="grid6"></div>
        <div class="grid7"></div>
        <div class="grid8"></div>
        <div class="grid9"></div>
    </div>

            <div id="goods" class=" mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready d-flex justify-content-center align-items-center " tabindex="-1" 
                style="overflow: hidden auto; background-color: black; background: rgba(0,0,0,0.5);
                backdrop-filter: blur(10px);" >
                <div class="  mfp-s-ready mfp-image-holder">
                    <div class="mfp-content">
                        <div class="container">
                            <button title="Close" type="button" class="mfp-close" id="closeGoods" style="margin-right: 50px;">×</button>

                            <div class="d-flex justify-content-center align-items-center ">
                                <img id="imgGoods"  alt="" src="https://firebasestorage.googleapis.com/v0/b/otakime-dc208.appspot.com/o/logo%2Fotakime_goods.jpg?alt=media&token=e2782dec-0928-4379-aa89-5ef84c891615" style="max-height: 500px;  background-color:black;
                                    box-shadow: 0px 0px 15px rgba(255,0,0);">
                                    <div style="position: fixed; margin-top: 26.8em;">
                                        <button class="btn btn-danger" style="box-shadow: 0px 0px 15px rgba(255,0,0);"  onclick="javascript:window.open('https://form.jotform.com/222369065457058', '_blank');"> <p style="margin-bottom:1mm; color:white; ">Nhấn vào đây để mua </p><button>
                                    </div>
                                </img>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- ***** Main Menu Area Start ***** -->
    <div class="mainMenu d-flex align-items-center justify-content-between">
        <!-- Close Icon -->
        <div class="closeIcon">
            <i class="ti-close" aria-hidden="true"></i>
        </div>
        <!-- Logo Area -->
        <div class="logo-area">
            <a href="{{url_for('home')}}"> <img class="dots" src="https://firebasestorage.googleapis.com/v0/b/otakime-dc208.appspot.com/o/logo%2Fotakime-logo-web.png?alt=media&token=31e53428-1df1-49c7-b733-10b18c067745" alt="otakime-logo-menu"></a>
        </div>
        <!-- Nav -->
        <div class="sonarNav wow fadeInUp" data-wow-delay="1s">
            <nav>
                <ul>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('manga') }}">Manga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Copwrite Text -->
        <div class="copywrite-text">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
        </div>
    </div>
    <!-- ***** Main Menu Area End ***** -->
    
    {% include 'manga/navbar/header.html'%}

    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->

            {% for key, value in dataKawaii %}  
            <a href="{{url_for('mangaPage', urlnameManga = value.url)}}">
                <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url('{{value.imgIndex}}');">
                    
                    <div class="container h-100"> 
                        
                        <div class="row h-100 align-items-end">
                            
                            <div class="col-12">
                              
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2> {{ value.nameManga }}</h2>
                                    <p> {{ value.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% for key, value in dataR15 %}  
            <a href="{{url_for('mangaPage', urlnameManga = value.url)}}">
                <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url('{{value.imgIndex}}');">
                    
                    <div class="container h-100"> 
                        
                        <div class="row h-100 align-items-end">
                            
                            <div class="col-12">
                              
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2> {{ value.nameManga }}</h2>
                                    <p> {{ value.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% for key, value in dataToaru %}  
            <a href="{{url_for('mangaPage', urlnameManga = value.url)}}">
                <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url('{{value.imgIndex}}');">
                    
                    <div class="container h-100"> 
                        
                        <div class="row h-100 align-items-end">
                            
                            <div class="col-12">
                              
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2> {{ value.nameManga }}</h2>
                                    <p> {{ value.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% for key, value in dataMizore %}  
            <a href="{{url_for('mangaPage', urlnameManga = value.url)}}">
                <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url('{{value.imgIndex}}');">
                    
                    <div class="container h-100"> 
                        
                        <div class="row h-100 align-items-end">
                            
                            <div class="col-12">
                              
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2> {{ value.nameManga }}</h2>
                                    <p> {{ value.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
     
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->


    <!-- ***** Call to Action Area Start ***** -->
    <div class="sonar-call-to-action-area">
        <div class="backEnd-content">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content wow fadeInUp" style="margin-top:80px;" data-wow-delay="0.5s">
                        <h2>Otakime thế hệ mới</h2>
                        <div class="p-4">
                            <a href="{{url_for('manga')}}" class="btn sonar-btn">Đọc ngay manga</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Call to Action Area End ***** -->

    
    {% include 'manga/navbar/footer.html'%}
    {% endblock%}
