{% extends 'base.html' %}

{% block main %}    
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="sonar-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Grids -->
    <div class="grids d-flex justify-content-between">
        <div class="grid1"></div>
        <div class="grid2"></div>
        <div class="grid3"></div>
        <div class="grid4"></div>
        <div class="grid5"></div>
        <div class="grid6"></div>
        <div class="grid7"></div>
        <div class="grid8"></div>
        <div class="grid9"></div>
    </div>

    {% include 'header.html' %}

    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->

            {% for key, value in data %}  
            <a href="{{url_for('mangaPage', url = value.url)}}">
                <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url('{{value.cardImgUrl}}');">
                    
                    <div class="container h-100"> 
                        
                        <div class="row h-100 align-items-end">
                            
                            <div class="col-12">
                              
                                <div class="hero-slides-content">
                                    <div class="line"></div>
                                    <h2> {{ key }}</h2>
                                    <p> {{ value.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
     
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->

    <!-- ***** Portfolio Area Start ***** -->
    <div class="portfolio-area section-padding-100">
        <div class="container"></div>
    </div>
    <!-- ***** Portfolio Area End ***** -->

    <!-- ***** Call to Action Area Start ***** -->
    <div class="sonar-call-to-action-area section-padding-0-100">
        <div class="backEnd-content">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content wow fadeInUp" data-wow-delay="0.5s">
                        <h2>Otakime thế hệ mới</h2>
                        <a href="{{url_for('manga')}}" class="btn sonar-btn mt-100">Đọc ngay manga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Call to Action Area End ***** -->


    <!-- ***** Footer Area End ***** -->
    {% include 'footer.html' %}
    {% endblock %}