{% extends 'manga/base.html'%}
{% block main%}
<div class="container">
    <div class="m-3">
        <div  class="d-flex justify-content-center">
            <h2 ><b>TERMS & CONDITIONS</b></h2>
            
        </div>
        
        <div>
            <p style="font-weight: normal; font-style: italic; font-size: 15px;">Việc bạn sử dụng website này và trong phạm vi website này đồng nghĩa với việc bạn đồng ý với những thỏa thuận dưới đây. Nếu bạn không đồng ý, xin vui lòng không sử dụng website.</p>
        </div>
        <div>
            <div class="row">
                <h3> ĐIỀU KHOẢN SỬ DỤNG</h3>
                
            </div>
                <p style="font-weight: normal; font-size: 18px;"> Khi bạn truy cập vào website otakime.herokuapp.com có nghĩa là bạn đồng ý với các điều khoản này. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Quy định và Điều kiện sử dụng, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước. Và khi bạn tiếp tục sử dụng trang web, sau khi các thay đổi về Quy định và Điều kiện được đăng tải, có nghĩa là bạn chấp nhận với những thay đổi đó.
                    Khi truy cập vào trang web này, bạn đồng ý chấp nhận mọi rủi ro. Otakime và nhưng bên đối tác thứ ba không chịu trách nhiệm về bất kỳ tổn thất nào do những hậu quả trực tiếp, tình cờ hay gián tiếp; những thất thoát, chi phí (bao gồm chi phí pháp lý, chi phí tư vấn hoặc các khoản chi tiêu khác) có thể phát sinh trực tiếp hoặc gián tiếp do việc truy cập trang web hoặc khi tải dữ liệu về máy; những tổn hại gặp phải do virus, hành động phá hoại trực tiếp hay gián tiếp của hệ thống máy tính khác, đường dây điện thoại, phần cứng, phần mềm, lỗi chương trình, hoặc bất kì các lỗi nào khác; đường truyền dẫn của máy tính hoặc nối kết mạng bị chậm…</p>
        </div>
        <div>
            <div class="row">
                <h3>BẢN QUYỀN</h3>
                
            </div>
                <p style="font-weight: normal; font-size: 18px;"> Mọi thông tin và hình ảnh trên website đều được sử dụng thông qua bên thứ ba mà chúng tôi hợp tác. Otakime và các bên liên quan không bảo đảm, hay có bất kỳ tuyên bố nào liên quan đến tính chính xác, tin cậy của việc sử dụng hay kết quả của việc sử dụng nội dung trên trang web này. Nếu làm ảnh hưởng đến cá nhân hay tổ chức nào, khi được yêu cầu, chúng tôi sẽ xem xét và gỡ bỏ trên website ngay lập tức.
                    Nghiêm cấm sử dụng bất kỳ nội dung nào của website này với mục đích thương mại hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được chúng tôi hoặc bên đối tác của chúng tôi cho phép bằng văn bản.</p>
        </div>
        <div>
            <div class="row">
                <h3>SỬ DỤNG THÔNG TIN NGƯỜI DÙNG</h3>
                
            </div>
                <p style="font-weight: normal; font-size: 18px;">Chúng tôi sẽ không sử dụng thông tin cá nhân của bạn trên website này nếu không được phép. Nếu bạn đồng ý cung cấp thông tin cá nhân, bạn sẽ được bảo vệ. Otakime cam kết bảo mật thông tin, không chia sẻ, tiết lộ, chuyển giao thông tin cá nhân của người dùng cho bất kỳ bên thứ ba nào khi chưa được sự đồng ý của người dùng, trừ trường hợp phải thực hiện theo yêu cầu của các cơ quan Nhà nước có thẩm quyền, hoặc theo quy định của pháp luật.</p>
        </div>
        <div>
            <div class="row">
                <h3>LIÊN KẾT VỚI BÊN THỨ BA</h3>
                
            </div>
                <p style="font-weight: normal; font-size: 18px;">Liên kết thông tin và dữ liệu website Otakime đã được sự cho phép bằng văn bản và sự kiểm soát của những bên thứ ba có liên quan. Mặc dù trang web này có thể được liên kết với những trang khác, Otakime không trực tiếp hoặc gián tiếp tán thành, tổ chức, tài trợ, đứng sau hoặc sát nhập với những trang đó, trừ phi điều này được nêu ra rõ ràng.</p>
        </div>
        <div>
            <div class="row">
                <h3>ĐƯA, TRUYỀN THÔNG TIN TRÊN WEBSITE</h3>
                
            </div>
                <p style="font-weight: normal; font-size: 18px;">Bạn không được đưa lên, hoặc chuyển tải lên trang web tất cả những hình ảnh, từ ngữ khiêu dâm, thô tục, xúc phạm, phỉ báng, bôi nhọ, đe dọa, những thông tin không hợp pháp hoặc những thông tin có thể đưa đến việc vi phạm pháp luật, trách nhiệm pháp lý. Chúng tôi và tất cả các bên có liên quan đến việc xây dựng và quản lý trang web không chịu trách nhiệm hoặc có nghĩa vụ pháp lý đối với những phát sinh từ nội dung do bạn tải lên trang web.</p>
        </div>
    </div>
</div>


{%endblock%}