{% extends 'manga/base.html'%}


{% block main %}  
    
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="sonar-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    {% include 'manga/navbar/header.html' %}


    <!-- ***** Hero Area Start ***** -->
    <div class="hero-area d-flex align-items-center">
        <!-- Back End Content -->
        <div class="backEnd-content">
            <img class="dots" src="img/core-img/dots.png" alt="">
        </div>

        <!-- Hero Thumbnail -->
        <div class="hero-thumbnail aboutUs equalize bg-img" style="background-image: url(img/bg-img/about.jpg);"></div>
        
        <!-- Hero Content -->
        <div class="hero-content aboutUs equalize">
            <div class="container-fluid h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-md-10">

                        <div class="line"></div>
                        <h2>About</h2>
                        <h2></h2>
                        <p>Otakime là một nhóm dịch manga, thực hiện những dự án manga mới hoặc trao đổi để giới thiệu văn hóa truyện tranh Nhật Bản đến độc giả trong nước. Khởi đầu từ một thành viên với dự án nối Fudatsuki no Kyoko-chan vào năm 2019, Otakime tiếp tục phát triển với nhiều thành viên hơn nhằm mang đến chất lượng sản phẩm dịch và chế bản đạt tiêu chuẩn cho người đọc, đóng góp vào sự phát triển tích cực của cộng đồng "scanlation" nói riêng và văn hóa Nhật nói chung.</p>
                        <a href="#" class="btn sonar-btn white-btn">Contact me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Hero Area End ***** -->

    <div class="sonar-about-us-area bg-img" style="background-image: url(img/bg-img/about2.jpg);">
        <!-- Back End Content -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-7">
                    <div class="about-us-content bg-white">
                        <div class="section-heading text-left wow fadeInUp" data-wow-delay="300ms">
                            <div class="line"></div>
                            <h2>Look at my qualities</h2>
                        </div>
                        <p class="wow fadeInUp" data-wow-delay="600ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet neque.</p>
                        <!-- Progress Bar Content Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sonar-about-us-area second-part bg-img" style="background-image: url(img/bg-img/about3.jpg);">
        <!-- Back End Content -->

        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-12 col-md-10 col-lg-7">
                    <div class="about-us-content bg-white">
                        <div class="section-heading text-left wow fadeInUp" data-wow-delay="300ms">
                            <div class="line"></div>
                        </div>
                        <p class="wow fadeInUp" data-wow-delay="600ms">Consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet neque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Footer Area Start ***** -->
    <!-- ***** Footer Area End ***** -->
    {% include 'manga/navbar/footer.html' %}
    {% endblock %}
