{% extends 'manga/base.html'%}


{% block main %}  
    
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="sonar-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    {% include 'manga/navbar/header.html' %}


    <!-- ***** Hero Area Start ***** -->
    <div class="hero-area d-flex align-items-center">
        <!-- Back End Content -->
        <div class="backEnd-content">
            <img class="dots" src="img/core-img/dots.png" alt="">
        </div>

        <!-- Hero Thumbnail -->
        <div class="hero-thumbnail aboutUs equalize bg-img" style="background-image: url(static/img/logo/about.jpg);"></div>
        
        <!-- Hero Content -->
        <div class="hero-content aboutUs equalize">
            <div class="container-fluid h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-md-10">

                        <div class="line"></div>
                        <h2>About us</h2>
                        <p>Otakime là một nhóm dịch manga, thực hiện những dự án manga mới hoặc trao đổi để giới thiệu văn hóa truyện tranh Nhật Bản đến độc giả trong nước. Khởi đầu từ một thành viên với dự án nối Fudatsuki no Kyoko-chan vào năm 2019, Otakime tiếp tục phát triển với nhiều thành viên hơn nhằm mang đến chất lượng sản phẩm dịch và chế bản đạt tiêu chuẩn cho người đọc, đóng góp vào sự phát triển tích cực của cộng đồng "scanlation" nói riêng và văn hóa Nhật nói chung.</p>
                        <a href="#" class="btn sonar-btn white-btn">Contact me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Hero Area End ***** -->

    <div class="sonar-about-us-area bg-img" style="background-image: url(img/bg-img/about2.jpg);">
        <!-- Back End Content -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-7">
                    <div class="about-us-content bg-white">
                        <div class="section-heading text-left wow fadeInUp" data-wow-delay="300ms">
                            <div class="line"></div>
                            <h2>Thành viên của Otakime</h2>
                        </div>
                        <p class="wow fadeInUp" data-wow-delay="600ms">Các thành viên của Otakime là những người có niềm đam mê đặc biệt cho manga, với mong muốn được thử sức trong các vị trí chế bản truyện tranh. Môi trường làm việc tại Otakime vô cùng thoải mái:</p>
                        <p class="wow fadeInUp" data-wow-delay="600ms">- Deadline dài hạn, không quá áp lực hay dồn dập.</p>
                        <p class="wow fadeInUp" data-wow-delay="600ms">- Nhiều sự trợ giúp phát triển khả năng làm việc từ những thành viên khác.</p>
                        <p class="wow fadeInUp" data-wow-delay="600ms">- Tham gia những trò chơi chưa từng có trong nội bộ.</p>
                        <p class="wow fadeInUp" data-wow-delay="600ms">- Tổ chức sinh nhật riêng cho thành viên.</p>
                        <p class="wow fadeInUp" data-wow-delay="600ms">Nếu bạn muốn thử sức với công việc dịch/chế bản manga, bạn có thể ứng tuyển tại đây.</p>
                        <!-- Progress Bar Content Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ***** Footer Area Start ***** -->
    <!-- ***** Footer Area End ***** -->
    {% include 'manga/navbar/footer.html' %}
    {% endblock %}
