{% extends 'manga/base.html'%}

{% block main%}

{% include 'manga/navbar/header.html'%}
<div style="background-color: #232323;">
    <div class="container" style="padding-top: 100px; "> 
        <div class="d-flex justify-content-center">
            <div class="rounded-3" style="height: 200px; width: 900px; background-color: rgb(220, 217, 217);">

                <div class="container-fluid" style="padding-top: 20px;">
                {% for key,value in data%}
                    {% for chapter in value.chapter%}
                        {% set chapter = chapter.lower().replace('chap ','')%}
                        {% if chapter == CHAPTER  %}

                            <i><h5><span><a href="{{url_for('home')}}" style="color: black;">Trang chủ </a>/</span><a href="{{ url_for('mangaPage', urlnameManga= value.nameManga, chapter = None) }}" style="color: black;"> {{value.nameManga}} </a> / <span> <a href="{{ url_for('mangaPage', urlnameManga= value.url, chapter = chapter) }}" style="color: black;">{{CHAPTER}} </a></span></h5></i>
                            <br>
                            <h4> {{value.nameManga}} - <span>{{CHAPTER}}</span></h4> 
                            

                        {%endif%}
                    {%endfor%}
                {%endfor%}
                </div>
                
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center row">
            
            <div class="input-group mb-3 d-flex justify-content-center header-chapter" style="padding: 10px;  background: gray;" >
        
                <div class="row " >
                    {% for key,value in data%}
                    <a href="{{url_for('mangaPage', urlnameManga = value.url)}}">
                        <button class="btn btn-dark rounded-circle" style="margin-right: 10px;">
                            <i class="fa-solid fa-bars fa-lg"></i>
                        </button>
                    </a>
                    {%endfor%}
                    {%set list_ = previousChapter%}

                    {%set resPlus = list_[list_.index(CHAPTER)+ 1]%}
                    {%set resMinus = list_[list_.index(CHAPTER) - 1]%}

                    {%for key,value in data%}
                        
                            
                    <a href="{{ url_for('mangaChapter', urlnameManga= value.url, chapter = resMinus)  }}">

                        <button type="button" class="btn btn-dark rounded-circle" style="margin-right: 10px;">                                
                            <i class="fa-solid fa-caret-left fa-lg"></i>
                        </button>
                    </a>

                    <div class="rounded-3">
                        <select name="links" onchange="location.href=this.value" class="selectpicker " data-style="btn-dark" data-width="150px">

                            {% for chapter in value.chapter%}
                                {%set  chapter = chapter.lower().replace('chap ','')%}
                                    {% if chapter == CHAPTER  %}
                                        <option style="text-align: center"  selected> Chap {{CHAPTER}}</option>
                                    {%endif%}
                            {%endfor%}

                            {% for chapter in value.chapter%}
                                {%set  chapter2 = chapter.lower().replace('chap ','')%}
                                <option style="background:gray; color: white; text-align: center;" value="{{ url_for('mangaChapter', urlnameManga= value.url, chapter = chapter2) }}">{{chapter}}</option>

                            {%endfor%}
                            
                        </select>
                    </div>

                    {%for key,value in data%}

                        <a href="{{ url_for('mangaChapter', urlnameManga= value.url, chapter = resPlus)  }}">

                            <button type="button" class="btn btn-dark rounded-circle" style="margin-left: 10px;">
                                <i class="fa-solid fa-caret-right fa-lg"></i>
                                
                            </button>
                        </a>

                    {%endfor%}
                    
                    
                </div>

                {%endfor%}
            </div>
            <div>

            {% for key,value in data%}

                {%for item in dataIMG%}
                
                    
                    <img src="{{item}}" alt="{{value.nameManga}}-{{CHAPTER}}-{{loop.index}}"/> 
                    <br>

                
                {%endfor%}
            {%endfor%}
        

            </div>
        </div>
    </div>
</div>
{% include 'manga/navbar/footer.html'%}

{% endblock%}
