{% extends 'manga/base.html'%}

{% block main%}
{% include 'manga/navbar/header.html'%}

    <div class="container " style="padding-top: 100px;"> 
        <div class="d-flex justify-content-center">
            <div class="rounded-3" style="height: 200px; width: 900px; background-color: rgb(220, 217, 217);">

                <div class="container-fluid" style="padding-top: 20px;">
                {% for key,value in data%}
                {% for chapter in value.chapter%}
                    {% if chapter == CHAPTER  %}
                    <i><h5><span><a href="{{url_for('home')}}" style="color: black;">Trang chủ </a>/</span><a href="{{ url_for('mangaPage', urlnameManga= value.nameManga, chapter = None) }}" style="color: black;"> {{value.title}} </a> / <span> <a href="{{ url_for('mangaPage', urlnameManga= value.nameManga, chapter = chapter) }}" style="color: black;">Chap {{CHAPTER}} </a></span></h5></i>
                    <br>
                    <h4> {{value.title}} - <span>Chap {{CHAPTER}}</span></h4> 
                    

                   {%endif%}
                {%endfor%}
                </div>
            </div>
        </div>
            <div class="input-group mb-3 d-flex justify-content-center " style="padding: 20px;" >
                
                <div class="row" >
                    <button type="button" class="btn btn-dark rounded-circle btn-lg" style="margin-right: 10px;"><i class="fa-solid fa-angle-left"></i></button>
                    
                    <select class="form-select" aria-label="Default select example">
                    
                        <option selected>Chap {{CHAPTER}}</option>
                        {% for chapter in value.chapter%}
                            <option value="1">Chap {{chapter}}</option>
                        {%endfor%}
                    </select>

                    <button type="button" class="btn btn-dark rounded-circle btn-lg" style="margin-left: 10px;"><i class="fa-solid fa-angle-right"></i></button>
                </div>

            {%endfor%}
        </div>
        <div class="rounded mx-auto d-block">
            {% for key,value in data%}
                {%for item in dataIMG%}
                    {% for chapter in value.chapter%}
                        {% if chapter == CHAPTER  %}
                            {% for index in range(item|length)%}
                                <img src="{{url_for('static',filename= item )}}" alt="{{value.nameManga}}-{{CHAPTER}}-{{index}}"/> 
                                <br>
                            {%endfor%}
                        
                        {%endif%}
                    {%endfor%}
                {%endfor%}
            {%endfor%}
        <div>

    </div>

{% include 'manga/navbar/footer.html'%}
{% endblock%}
